.sidebar-inner-div{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-basis: 20%;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 65px;
    z-index: 20;
    
}
.sidebar-inner-div p{
    color: gray;
}
.sidebar-inner-div img{
    width: 100%;
    height: 80px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.sidebox{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(210, 194, 194);
    border-radius: 10px;
    background-color: whitesmoke;
    width: 100%;
    height: 400px;
    gap: 10px;
}
.sidebox h2{
    font-size: 22px;
}
.connections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    color: black;
    justify-content: center;
    margin: auto;
    margin-left: 10px;
}
.email{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.groups{
    margin-top: 0px;
}
.groups p{
    margin-left: 15px;
    margin-top: 10px;
}
.bottomsidebar{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    height: 300px;
}
.searchitems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    align-items: flex-start;
}
.bottomsidebar h4{
    padding: 10px;
    width: 100%;
    text-align: left;
}
.avatardiv{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    z-index: 200;
}
.view{
    border-top: 1px solid gray;
    padding: 20px 0px;
    margin-top: 20px;
    width: 100%;
}
.whoveiwed ,.veiwonpost {
    display: flex;
    gap: 10%;
    text-align: left;
    padding-left: 10px;
}
.whoveiwed p ,.veiwonpost p{
    text-align: left;
    width: 60%;
}
.whoveiwed span,.veiwonpost span{
    color: skyblue;
}
.notactive{
    display: none !important;
}
@media (max-width: 1000px) {
    .sidebar-inner-div{
        position: static;
        width: 100%;
        align-items: center;
        top: 0;
        margin: auto;
        
    }
    .email{
        border-bottom: none;
    }
    .active{
        display: block !important;
    }
    .bottomsidebar{
        display: none;
    }
    .notactive{
        display: block !important;
    }

    
}
